<IMG SRC='/static/icons/assassin-bloodshed-0.png'>
<IMG SRC='/static/icons/assassin-bloodshed-1.png'>
<IMG SRC='/static/icons/assassin-bloodshed-2.png'>
<IMG SRC='/static/icons/assassin-bloodshed-3.png'>
<IMG SRC='/static/icons/assassin-bloodshed-4.png'>
<IMG SRC='/static/icons/assassin-bloodshed-5.png'>
<IMG SRC='/static/icons/assassin-bloodshed-6.png'>
<IMG SRC='/static/icons/assassin-bloodshed-7.png'>
<IMG SRC='/static/icons/assassin-bloodshed-8.png'>
<IMG SRC='/static/icons/assassin-bloodshed-9.png'>
<IMG SRC='/static/icons/assassin-cunning-0.png'>
<IMG SRC='/static/icons/assassin-cunning-1.png'>
<IMG SRC='/static/icons/assassin-cunning-2.png'>
<IMG SRC='/static/icons/assassin-cunning-3.png'>
<IMG SRC='/static/icons/assassin-cunning-4.png'>
<IMG SRC='/static/icons/assassin-cunning-5.png'>
<IMG SRC='/static/icons/assassin-cunning-6.png'>
<IMG SRC='/static/icons/assassin-cunning-7.png'>
<IMG SRC='/static/icons/assassin-cunning-8.png'>
<IMG SRC='/static/icons/assassin-cunning-9.png'>
<IMG SRC='/static/icons/assassin-sniping-0.png'>
<IMG SRC='/static/icons/assassin-sniping-1.png'>
<IMG SRC='/static/icons/assassin-sniping-2.png'>
<IMG SRC='/static/icons/assassin-sniping-3.png'>
<IMG SRC='/static/icons/assassin-sniping-4.png'>
<IMG SRC='/static/icons/assassin-sniping-5.png'>
<IMG SRC='/static/icons/assassin-sniping-6.png'>
<IMG SRC='/static/icons/assassin-sniping-7.png'>
<IMG SRC='/static/icons/assassin-sniping-8.png'>
<IMG SRC='/static/icons/assassin-sniping-9.png'>
<IMG SRC='/static/icons/commando-guerilla-0.png'>
<IMG SRC='/static/icons/commando-guerilla-1.png'>
<IMG SRC='/static/icons/commando-guerilla-2.png'>
<IMG SRC='/static/icons/commando-guerilla-3.png'>
<IMG SRC='/static/icons/commando-guerilla-4.png'>
<IMG SRC='/static/icons/commando-guerilla-5.png'>
<IMG SRC='/static/icons/commando-guerilla-6.png'>
<IMG SRC='/static/icons/commando-guerilla-7.png'>
<IMG SRC='/static/icons/commando-guerilla-8.png'>
<IMG SRC='/static/icons/commando-guerilla-9.png'>
<IMG SRC='/static/icons/commando-gunpowder-0.png'>
<IMG SRC='/static/icons/commando-gunpowder-1.png'>
<IMG SRC='/static/icons/commando-gunpowder-10.png'>
<IMG SRC='/static/icons/commando-gunpowder-2.png'>
<IMG SRC='/static/icons/commando-gunpowder-3.png'>
<IMG SRC='/static/icons/commando-gunpowder-4.png'>
<IMG SRC='/static/icons/commando-gunpowder-5.png'>
<IMG SRC='/static/icons/commando-gunpowder-6.png'>
<IMG SRC='/static/icons/commando-gunpowder-7.png'>
<IMG SRC='/static/icons/commando-gunpowder-8.png'>
<IMG SRC='/static/icons/commando-gunpowder-9.png'>
<IMG SRC='/static/icons/commando-survival-0.png'>
<IMG SRC='/static/icons/commando-survival-1.png'>
<IMG SRC='/static/icons/commando-survival-10.png'>
<IMG SRC='/static/icons/commando-survival-2.png'>
<IMG SRC='/static/icons/commando-survival-3.png'>
<IMG SRC='/static/icons/commando-survival-4.png'>
<IMG SRC='/static/icons/commando-survival-5.png'>
<IMG SRC='/static/icons/commando-survival-6.png'>
<IMG SRC='/static/icons/commando-survival-7.png'>
<IMG SRC='/static/icons/commando-survival-8.png'>
<IMG SRC='/static/icons/commando-survival-9.png'>
<IMG SRC='/static/icons/gunzerker-brawn-0.png'>
<IMG SRC='/static/icons/gunzerker-brawn-1.png'>
<IMG SRC='/static/icons/gunzerker-brawn-10.png'>
<IMG SRC='/static/icons/gunzerker-brawn-2.png'>
<IMG SRC='/static/icons/gunzerker-brawn-3.png'>
<IMG SRC='/static/icons/gunzerker-brawn-4.png'>
<IMG SRC='/static/icons/gunzerker-brawn-5.png'>
<IMG SRC='/static/icons/gunzerker-brawn-6.png'>
<IMG SRC='/static/icons/gunzerker-brawn-7.png'>
<IMG SRC='/static/icons/gunzerker-brawn-8.png'>
<IMG SRC='/static/icons/gunzerker-brawn-9.png'>
<IMG SRC='/static/icons/gunzerker-gunlust-0.png'>
<IMG SRC='/static/icons/gunzerker-gunlust-1.png'>
<IMG SRC='/static/icons/gunzerker-gunlust-10.png'>
<IMG SRC='/static/icons/gunzerker-gunlust-2.png'>
<IMG SRC='/static/icons/gunzerker-gunlust-3.png'>
<IMG SRC='/static/icons/gunzerker-gunlust-4.png'>
<IMG SRC='/static/icons/gunzerker-gunlust-5.png'>
<IMG SRC='/static/icons/gunzerker-gunlust-6.png'>
<IMG SRC='/static/icons/gunzerker-gunlust-7.png'>
<IMG SRC='/static/icons/gunzerker-gunlust-8.png'>
<IMG SRC='/static/icons/gunzerker-gunlust-9.png'>
<IMG SRC='/static/icons/gunzerker-rampage-0.png'>
<IMG SRC='/static/icons/gunzerker-rampage-1.png'>
<IMG SRC='/static/icons/gunzerker-rampage-10.png'>
<IMG SRC='/static/icons/gunzerker-rampage-2.png'>
<IMG SRC='/static/icons/gunzerker-rampage-3.png'>
<IMG SRC='/static/icons/gunzerker-rampage-4.png'>
<IMG SRC='/static/icons/gunzerker-rampage-5.png'>
<IMG SRC='/static/icons/gunzerker-rampage-6.png'>
<IMG SRC='/static/icons/gunzerker-rampage-7.png'>
<IMG SRC='/static/icons/gunzerker-rampage-8.png'>
<IMG SRC='/static/icons/gunzerker-rampage-9.png'>
<IMG SRC='/static/icons/mechromancer-bestfriendsforever-0.png'>
<IMG SRC='/static/icons/mechromancer-bestfriendsforever-1.png'>
<IMG SRC='/static/icons/mechromancer-bestfriendsforever-10.png'>
<IMG SRC='/static/icons/mechromancer-bestfriendsforever-11.png'>
<IMG SRC='/static/icons/mechromancer-bestfriendsforever-2.png'>
<IMG SRC='/static/icons/mechromancer-bestfriendsforever-3.png'>
<IMG SRC='/static/icons/mechromancer-bestfriendsforever-4.png'>
<IMG SRC='/static/icons/mechromancer-bestfriendsforever-5.png'>
<IMG SRC='/static/icons/mechromancer-bestfriendsforever-6.png'>
<IMG SRC='/static/icons/mechromancer-bestfriendsforever-7.png'>
<IMG SRC='/static/icons/mechromancer-bestfriendsforever-8.png'>
<IMG SRC='/static/icons/mechromancer-bestfriendsforever-9.png'>
<IMG SRC='/static/icons/mechromancer-littlebigtrouble-0.png'>
<IMG SRC='/static/icons/mechromancer-littlebigtrouble-1.png'>
<IMG SRC='/static/icons/mechromancer-littlebigtrouble-10.png'>
<IMG SRC='/static/icons/mechromancer-littlebigtrouble-11.png'>
<IMG SRC='/static/icons/mechromancer-littlebigtrouble-2.png'>
<IMG SRC='/static/icons/mechromancer-littlebigtrouble-3.png'>
<IMG SRC='/static/icons/mechromancer-littlebigtrouble-4.png'>
<IMG SRC='/static/icons/mechromancer-littlebigtrouble-5.png'>
<IMG SRC='/static/icons/mechromancer-littlebigtrouble-6.png'>
<IMG SRC='/static/icons/mechromancer-littlebigtrouble-7.png'>
<IMG SRC='/static/icons/mechromancer-littlebigtrouble-8.png'>
<IMG SRC='/static/icons/mechromancer-littlebigtrouble-9.png'>
<IMG SRC='/static/icons/mechromancer-orderedchaos-0.png'>
<IMG SRC='/static/icons/mechromancer-orderedchaos-1.png'>
<IMG SRC='/static/icons/mechromancer-orderedchaos-10.png'>
<IMG SRC='/static/icons/mechromancer-orderedchaos-11.png'>
<IMG SRC='/static/icons/mechromancer-orderedchaos-2.png'>
<IMG SRC='/static/icons/mechromancer-orderedchaos-3.png'>
<IMG SRC='/static/icons/mechromancer-orderedchaos-4.png'>
<IMG SRC='/static/icons/mechromancer-orderedchaos-5.png'>
<IMG SRC='/static/icons/mechromancer-orderedchaos-6.png'>
<IMG SRC='/static/icons/mechromancer-orderedchaos-7.png'>
<IMG SRC='/static/icons/mechromancer-orderedchaos-8.png'>
<IMG SRC='/static/icons/mechromancer-orderedchaos-9.png'>
<IMG SRC='/static/icons/psycho-bloodlust-0.png'>
<IMG SRC='/static/icons/psycho-bloodlust-1.png'>
<IMG SRC='/static/icons/psycho-bloodlust-10.png'>
<IMG SRC='/static/icons/psycho-bloodlust-11.png'>
<IMG SRC='/static/icons/psycho-bloodlust-2.png'>
<IMG SRC='/static/icons/psycho-bloodlust-3.png'>
<IMG SRC='/static/icons/psycho-bloodlust-4.png'>
<IMG SRC='/static/icons/psycho-bloodlust-5.png'>
<IMG SRC='/static/icons/psycho-bloodlust-6.png'>
<IMG SRC='/static/icons/psycho-bloodlust-7.png'>
<IMG SRC='/static/icons/psycho-bloodlust-8.png'>
<IMG SRC='/static/icons/psycho-bloodlust-9.png'>
<IMG SRC='/static/icons/psycho-hellborn-0.png'>
<IMG SRC='/static/icons/psycho-hellborn-1.png'>
<IMG SRC='/static/icons/psycho-hellborn-10.png'>
<IMG SRC='/static/icons/psycho-hellborn-2.png'>
<IMG SRC='/static/icons/psycho-hellborn-3.png'>
<IMG SRC='/static/icons/psycho-hellborn-4.png'>
<IMG SRC='/static/icons/psycho-hellborn-5.png'>
<IMG SRC='/static/icons/psycho-hellborn-6.png'>
<IMG SRC='/static/icons/psycho-hellborn-7.png'>
<IMG SRC='/static/icons/psycho-hellborn-8.png'>
<IMG SRC='/static/icons/psycho-hellborn-9.png'>
<IMG SRC='/static/icons/psycho-mania-0.png'>
<IMG SRC='/static/icons/psycho-mania-1.png'>
<IMG SRC='/static/icons/psycho-mania-10.png'>
<IMG SRC='/static/icons/psycho-mania-11.png'>
<IMG SRC='/static/icons/psycho-mania-2.png'>
<IMG SRC='/static/icons/psycho-mania-3.png'>
<IMG SRC='/static/icons/psycho-mania-4.png'>
<IMG SRC='/static/icons/psycho-mania-5.png'>
<IMG SRC='/static/icons/psycho-mania-6.png'>
<IMG SRC='/static/icons/psycho-mania-7.png'>
<IMG SRC='/static/icons/psycho-mania-8.png'>
<IMG SRC='/static/icons/psycho-mania-9.png'>
<HR>
<IMG SRC='/static/icons/siren-cataclysm-0.png'>
<IMG SRC='/static/icons/siren-cataclysm-1.png'>
<IMG SRC='/static/icons/siren-cataclysm-2.png'>
<IMG SRC='/static/icons/siren-cataclysm-3.png'>
<IMG SRC='/static/icons/siren-cataclysm-4.png'>
<IMG SRC='/static/icons/siren-cataclysm-5.png'>
<IMG SRC='/static/icons/siren-cataclysm-6.png'>
<IMG SRC='/static/icons/siren-cataclysm-7.png'>
<IMG SRC='/static/icons/siren-cataclysm-8.png'>
<IMG SRC='/static/icons/siren-cataclysm-9.png'>
<P>
<IMG SRC='/static/icons/siren-harmony-0.png'>
<IMG SRC='/static/icons/siren-harmony-1.png'>
<IMG SRC='/static/icons/siren-harmony-2.png'>
<IMG SRC='/static/icons/siren-harmony-3.png'>
<IMG SRC='/static/icons/siren-harmony-4.png'>
<IMG SRC='/static/icons/siren-harmony-5.png'>
<IMG SRC='/static/icons/siren-harmony-6.png'>
<IMG SRC='/static/icons/siren-harmony-7.png'>
<IMG SRC='/static/icons/siren-harmony-8.png'>
<IMG SRC='/static/icons/siren-harmony-9.png'>
<P><IMG SRC='/static/icons/siren-motion-0.png'>
<IMG SRC='/static/icons/siren-motion-1.png'>
<IMG SRC='/static/icons/siren-motion-2.png'>
<IMG SRC='/static/icons/siren-motion-3.png'>
<IMG SRC='/static/icons/siren-motion-4.png'>
<IMG SRC='/static/icons/siren-motion-5.png'>
<IMG SRC='/static/icons/siren-motion-6.png'>
<IMG SRC='/static/icons/siren-motion-7.png'>
<IMG SRC='/static/icons/siren-motion-8.png'>
<IMG SRC='/static/icons/siren-motion-9.png'>
